* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 992px) {
  .container {
    height: 100vh;
  }
  .nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 10%;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCABD8), to(#C02425));
    background: linear-gradient(#CCABD8, #C02425);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    background-size: contain;
  }
  .nav .menubar i {
    display: none;
  }
  .nav .logo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
  }
  .nav .logo img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .nav .menu {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 5%;
    background-size: contain;
  }
  .nav .menu-item {
    padding: 3%;
    font-size: 24px;
    font-style: normal;
    color: #2C2929;
    background-size: contain;
  }
  .nav a {
    position: relative;
    text-decoration: none;
    color: #2C2929;
  }
  .nav a:hover {
    color: #ffffff;
  }
  .nav .menu-item a:hover::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0;
    border: 1px solid white;
    margin: -2px;
  }
  .nav .profile {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px;
    height: 60%;
    width: 15%;
    background: -webkit-gradient(linear, left top, right top, color-stop(98.91%, rgba(255, 255, 255, 0.7)), color-stop(113.57%, rgba(101, 32, 29, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 98.91%, rgba(101, 32, 29, 0) 113.57%);
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-size: contain;
  }
  .nav .profile-item {
    padding: 5px;
    font-style: bold;
    background-size: contain;
  }
  .main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-size: contain;
  }
  .main .main-header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 344px;
    background-image: url("/image/image 1.png");
    background-size: contain;
  }
  .main .description {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    background: linear-gradient(89.56deg, #483B3B 0.42%, rgba(8, 7, 7, 0.8) 24%);
    background-size: contain;
  }
  .main .description-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: contain;
  }
  .main .genre {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2% 0 0 15%;
    background-size: contain;
  }
  .main .genre-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 8px;
    margin: 0 10px;
    color: #ffffff;
    font-style: normal;
    border: 1px solid #CCAAD7;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-size: contain;
  }
  .main .name {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #E5E5E5;
    font-size: 36px;
    margin: 2% 0 0 15%;
    background-size: contain;
  }
  .main .cast, .main .time, .main .describe {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #E5E5E5;
    font-size: 12px;
    margin: 2% 0 0 15%;
    width: 60%;
    background-size: contain;
  }
  .main .action {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 8% 0 0 15%;
    padding: 0 8%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: contain;
  }
  .main .icon i {
    padding-left: 10px;
    font-size: 18px;
  }
  .main .action-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 12px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    height: 80%;
    background: -webkit-gradient(linear, left top, right top, color-stop(99.99%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 99.99%, rgba(255, 255, 255, 0) 100%);
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    color: #65201D;
    background-size: contain;
  }
  .main .action-item:last-child {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, color-stop(98.91%, rgba(174, 27, 22, 0.7)), color-stop(113.57%, rgba(101, 32, 29, 0)));
    background: linear-gradient(90deg, rgba(174, 27, 22, 0.7) 98.91%, rgba(101, 32, 29, 0) 113.57%);
  }
  .main .rating {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    margin: 0 28%;
    background-size: contain;
  }
  .main .rating-item {
    margin: 2%;
    color: white;
  }
  .main .rating-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
    padding: 0 10px;
  }
  .main .rating-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 10px;
    width: 100%;
    background-size: contain;
  }
  .main .poster {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 60%;
    height: 100%;
    background: linear-gradient(89.56deg, #483B3B 0.42%, rgba(8, 7, 7, 0.8) 24%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: contain;
  }
  .main .poster img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .main .main-menu {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background: #FFFEFE;
    border-radius: 20px 20px 0px 0px;
    background-size: contain;
  }
  .main .main-menu-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: contain;
  }
  .main .main-menu-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2% 10% 0 10%;
    font-size: 18px;
    background-size: contain;
  }
  .main .box-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 24px;
    color: #65201D;
    background-size: contain;
  }
  .main .box-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: contain;
  }
  .main #choose {
    color: #AE1B16;
    border: 2px solid #AE1B16;
    margin: 0 0 0 24px;
    font-size: 18px;
  }
  .main .main-menu-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: contain;
    margin-top: 2%;
    padding: 0 13%;
    height: 100%;
    width: 100%;
  }
  .main .movierow {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main .movie {
    width: 100%;
    margin: 0 10% 0 0;
    background-size: contain;
  }
  .main .movie:first-child {
    margin-right: 10%;
  }
  .main .view {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding-top: 30%;
    background-size: contain;
  }
  .main .view i {
    color: #AE1B16;
    font-size: 24px;
    padding-left: 30%;
  }
  .main .view-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .image {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .main .image img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .main .moviedescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #AE1B16;
    font-size: 12px;
    width: 100%;
    height: 100%;
    background-size: contain;
  }
  .main .moviedescription-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(98.91%, rgba(174, 27, 22, 0.69)), color-stop(113.57%, rgba(101, 32, 29, 0)));
    background: linear-gradient(90deg, rgba(174, 27, 22, 0.69) 98.91%, rgba(101, 32, 29, 0) 113.57%);
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 10px;
    background-size: contain;
  }
  .footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#C02425), to(#CCABD8));
    background: linear-gradient(#C02425, #CCABD8);
    background-size: contain;
  }
  .footer .footer-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2% 20%;
    background-size: contain;
  }
  .footer .footer-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: contain;
  }
  .footer .footer-box-item a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-box-item:first-child {
    font-size: 16px;
    padding-bottom: 10%;
  }
  .footer .image3 {
    width: 30%;
    height: 30%;
  }
  .footer .image3 img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .footer .footer-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2% 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #312E2E;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    font-size: 14px;
  }
  .nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 54px;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCABD8), to(#C02425));
    background: linear-gradient(#CCABD8, #C02425);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    background-size: contain;
  }
  .nav .menu {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 5%;
    background-size: contain;
  }
  .nav .menu-item {
    padding: 5%;
    font-size: 16px;
    font-style: normal;
    color: #2C2929;
    background-size: contain;
  }
  .nav .menubar i {
    display: none;
  }
  .nav .logo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .logo img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .nav a {
    position: relative;
    text-decoration: none;
    color: #2C2929;
  }
  .nav .profile {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px;
    height: 60%;
    background: -webkit-gradient(linear, left top, right top, color-stop(98.91%, rgba(255, 255, 255, 0.7)), color-stop(113.57%, rgba(101, 32, 29, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 98.91%, rgba(101, 32, 29, 0) 113.57%);
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-size: contain;
  }
  .nav .profile-item {
    padding: 5px;
    font-style: bold;
  }
  .main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-size: contain;
  }
  .main .main-header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 250px;
    background-image: url("/image/image 1.png");
    background-size: contain;
  }
  .main .description {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    background: linear-gradient(89.56deg, #483B3B 0.42%, rgba(8, 7, 7, 0.8) 24%);
    background-size: contain;
  }
  .main .description-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: contain;
    border: 2px solid purple;
  }
  .main .genre {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2% 5%;
    font-size: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-size: contain;
  }
  .main .genre-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 8px;
    margin: 5px;
    color: #ffffff;
    font-style: normal;
    border: 1px solid #CCAAD7;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-size: contain;
  }
  .main .name {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #E5E5E5;
    margin: 1% 7%;
    font-size: 24px;
    background-size: contain;
  }
  .main .cast, .main .time, .main .describe {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #E5E5E5;
    font-size: 12px;
    margin: 1% 7%;
    background-size: contain;
  }
  .main .action {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5% 0 0 15%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: contain;
  }
  .main .icon i {
    padding-left: 4px;
  }
  .main .action-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px;
    margin-right: 2%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(99.99%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 99.99%, rgba(255, 255, 255, 0) 100%);
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    color: #65201D;
    background-size: contain;
  }
  .main .action-item:last-child {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, color-stop(98.91%, rgba(174, 27, 22, 0.7)), color-stop(113.57%, rgba(101, 32, 29, 0)));
    background: linear-gradient(90deg, rgba(174, 27, 22, 0.7) 98.91%, rgba(101, 32, 29, 0) 113.57%);
  }
  .main .rating {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 0 15%;
    background-size: contain;
  }
  .main .rating-item {
    margin: 1%;
    color: white;
  }
  .main .rating-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    padding: 0 10px;
  }
  .main .rating-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 8px;
    width: 100%;
    background-size: contain;
  }
  .main .poster {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 60%;
    height: 100%;
    background: linear-gradient(89.56deg, #483B3B 0.42%, rgba(8, 7, 7, 0.8) 24%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: contain;
  }
  .main .poster img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .main .main-menu {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background: #FFFEFE;
    border-radius: 20px 20px 0px 0px;
    background-size: contain;
  }
  .main .main-menu-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: contain;
  }
  .main .main-menu-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2%;
    font-size: 18px;
    background-size: contain;
  }
  .main .box-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #65201D;
    background-size: contain;
    margin-left: 5%;
  }
  .main .box-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: contain;
  }
  .main #choose {
    color: #AE1B16;
    border: 1px solid #AE1B16;
    font-size: 14px;
  }
  .main .main-menu-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-size: contain;
    width: 100%;
  }
  .main .movierow {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 2% 2% 0 8%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .movie {
    width: 50%;
    height: 50%;
    padding: 0 5%;
    background-size: contain;
  }
  .main .image {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .main .image img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .main .moviedescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #AE1B16;
    font-size: 12px;
    width: 100%;
    height: 100%;
    background-size: contain;
  }
  .main .moviedescription-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(98.91%, rgba(174, 27, 22, 0.69)), color-stop(113.57%, rgba(101, 32, 29, 0)));
    background: linear-gradient(90deg, rgba(174, 27, 22, 0.69) 98.91%, rgba(101, 32, 29, 0) 113.57%);
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 10px;
    background-size: contain;
  }
  .main .view {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #AE1B16;
    font-size: 12px;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .view i {
    color: #AE1B16;
    font-size: 24px;
    padding: 40% 50% 0 50%;
  }
  .main .view-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0 0 47%;
  }
  .footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#C02425), to(#CCABD8));
    background: linear-gradient(#C02425, #CCABD8);
    background-size: contain;
  }
  .footer .footer-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2%;
    background-size: contain;
  }
  .footer .footer-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2%;
    background-size: contain;
  }
  .footer .footer-box-item a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-box-item:first-child {
    font-size: 14px;
    padding-bottom: 10%;
  }
  .footer .image3 {
    width: 50%;
    height: 50%;
  }
  .footer .image3 img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .footer .footer-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #312E2E;
  }
}

@media (max-width: 767px) {
  .container {
    font-size: 14px;
  }
  .nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 54px;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCABD8), to(#C02425));
    background: linear-gradient(#CCABD8, #C02425);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    background-size: contain;
  }
  .nav .menubar i {
    color: #2C2929;
    margin-right: 14px;
  }
  .nav .logo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .logo img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .nav .menu {
    display: none;
  }
  .nav a {
    position: relative;
    text-decoration: none;
    color: #2C2929;
  }
  .nav .profile {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px;
    height: 60%;
    background: -webkit-gradient(linear, left top, right top, color-stop(98.91%, rgba(255, 255, 255, 0.7)), color-stop(113.57%, rgba(101, 32, 29, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 98.91%, rgba(101, 32, 29, 0) 113.57%);
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-size: contain;
  }
  .nav .profile-item {
    padding: 5px;
    font-style: bold;
  }
  .main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-size: contain;
  }
  .main .main-header {
    display: none;
  }
  .main .main-menu {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background: #FFFEFE;
    border-radius: 20px 20px 0px 0px;
    background-size: contain;
  }
  .main .main-menu-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: contain;
  }
  .main .main-menu-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2%;
    background-size: contain;
  }
  .main .box-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #65201D;
    background-size: contain;
    margin-left: 5%;
  }
  .main .box-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: contain;
  }
  .main #choose {
    color: #AE1B16;
    border: 1px solid #AE1B16;
    font-size: 10px;
  }
  .main .main-menu-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-size: contain;
    width: 100%;
  }
  .main .movierow {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 2% 2% 0 8%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .movie {
    width: 50%;
    height: 100%;
    margin: 0 5%;
    background-size: contain;
  }
  .main .image {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .main .image img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .main .moviedescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #AE1B16;
    font-size: 12px;
    width: 100%;
    height: 100%;
    background-size: contain;
  }
  .main .moviedescription-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(98.91%, rgba(174, 27, 22, 0.69)), color-stop(113.57%, rgba(101, 32, 29, 0)));
    background: linear-gradient(90deg, rgba(174, 27, 22, 0.69) 98.91%, rgba(101, 32, 29, 0) 113.57%);
    -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 10px;
    background-size: contain;
  }
  .main .view {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #AE1B16;
    font-size: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 22%;
  }
  .main .view i {
    color: #AE1B16;
    font-size: 24px;
  }
  .main .view-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#C02425), to(#CCABD8));
    background: linear-gradient(#C02425, #CCABD8);
    background-size: contain;
  }
  .footer .footer-item-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2% 20%;
    background-size: contain;
  }
  .footer .footer-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: contain;
    margin-bottom: 5%;
  }
  .footer .footer-box-item a {
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-box-item:first-child {
    font-size: 14px;
    padding-bottom: 2%;
  }
  .footer .image3 {
    width: 20%;
    height: 20%;
  }
  .footer .image3 img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .footer .footer-item-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #312E2E;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */